<launch>



  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_gazebo)/worlds/spawnmodel.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

	<node name="spawn_urdf_AROBOT1" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/newrobotA/model.sdf -sdf -z 0 -model ARobot1 -x 2 -y 0" />

	<node name="spawn_urdf_AROBOT2" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/newrobotA/model.sdf -sdf -z 0 -model ARobot2 -x 3 -y 2" />


	<node name="spawn_urdf_BROBOT1" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/newrobotB/model.sdf -sdf -z 0 -model BRobot1 -x -2 -y 0" />

	<node name="spawn_urdf_BROBOT2" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/newrobotB/model.sdf -sdf -z 0 -model BRobot2 -x -3 -y 2" />

    	<node name="spawn_urdf_AROBOTK" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/keeperrobotA/model.sdf -sdf -z 0 -model ARobotK -x 4.5 -y 0" />
    	<node name="spawn_urdf_BROBOTK" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot_description)/models/keeperrobotB/model.sdf -sdf -z 0 -model BRobotK -x -4.5 -y 0" />
  
</launch>
